<% provide(:title, 'Email template') %>

<h2>Customize invitation email for AFS</h2>

<br />

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Guidelines for the use of the TrustSystems service:</h3>
  </div>
  <div class="panel-body">
    Invitations are sent to encourage consumers to write reviews regardless of whether their purchasing experience was
    positive or negative. Invitations should not attempt to influence or persuade the consumer in any way.
    All invitations include a link to Trustpilot’s review form.
  </div>
</div>

<br />
<h4>Show the template for</h4>

<div class="btn-group">
  <button type="button" class="btn btn-default">English</button>
  <button type="button" class="btn btn-default">Russian</button>
</div> or <button type="button" class="btn btn-primary">Revert all templaes to default</button>

<br />
<br />
<hr />

<!-- Template -->
<h4>Template Settings</h4>
<br />
<%= form_for @afs, :url => url_for(:controller => 'dashboard', :action => 'email_template') do |f| %>
  <div class="form-group">
    <%= f.label :email_delay %>
    <%= f.text_field :email_delay, autofocus: true, placeholder: 'Delay', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email_subject %>
    <%= f.text_field :email_subject, placeholder: 'Subject', class: 'form-control' %>
  </div>
  <div class="form-group">
    <!-- model.Content -->
    <textarea id="some-textarea" class='wysihtml5' placeholder="Enter template ..."></textarea>

    <script type="text/javascript">
        $(document).ready(function(){
            $(function() {
                $('.wysihtml5').editable({inlineMode: false})
            });

        })
    </script>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      You can use special placeholders in the email which will be replaced when we send the email:<br />
      <strong>[Name]</strong> The name of the customer or ”customer” if unknown<br />
      <strong>[Link]</strong> The one-click review link<br />
      <strong>[DomainName]</strong> The name of the domain<br />
      <strong>[Order]</strong> The order number<br />
      <strong>[UnsubscribeLink]</strong> The unsubscribe link.
    </div>
  </div>


    <%= f.submit 'Save settings', :class => 'btn btn-success btn-block' %>
<% end %>
<!-- end Template -->

<br />