<% provide(:title, 'Dashboard') %>

<div role="alert" class="alert alert-info alert-dismissible fade in">
  <button data-dismiss="alert" class="close" type="button">
    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
  </button>
  <strong>Добро пожаловать в вашу панель управления!</strong><br />Сводный обзор вашей эффективности - отслеживайте
    ваши результаты и узнавайте, что можно сделать для улучшения вашего сервиса и повышения удовлетворенности клиентов.
</div>

<div class="row">
  <% 5.times do %>
      <div class="col-sm-2">
        <img alt="140x140" class="img-circle" data-src="holder.js/140x140" style="width: 120px; height: 120px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
      </div>
  <% end %>
</div>

<br />
<h2 class="text-center text-primary">What to do next</h2>
<br />

<div class="row">
  <div class="list-group">

    <%= link_to invitations_invite_customers_path, :class => 'list-group-item' do %>
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;It's time to invite some more customers
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <% end %>

    <%= link_to invitations_afs_path, :class => 'list-group-item' do %>
        <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Automatically invite new customers to write a review
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <% end %>

    <%= link_to invitations_invite_customers_path, :class => 'list-group-item' do %>
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Add a description to your company profile
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <% end %>

    <%= link_to invitations_invite_customers_path, :class => 'list-group-item' do %>
        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Get Trustpilot reviews on your Facebook Page
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <% end %>

    <%= link_to invitations_invite_customers_path, :class => 'list-group-item' do %>
        <span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Add a Facebook Fan Box to your company profile
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    <% end %>
  </div>
</div>