<% provide(:title, 'Modules') %>

<div role="alert" class="alert alert-warning alert-dismissible fade in">
  <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
  <strong>Remember to configure the Automatic Feedback Service. ® </strong><br />The service is essential for
  collecting reviews from your customers.
</div>


<div class="row modules-menu">
  <!-- Left menu -->
  <div class="col-md-6">
    <h4>Automatic Feedback Service</h4>
    <br />

    <%= link_to invitations_afs_path do %>
        <div class="well well-lg">
          <span class="glyphicon glyphicon-refresh"></span>
          <strong>Automatic Feedback Service.®</strong><br /> Collect reviews from your customers by email.
        </div>
    <% end %>

    <%= link_to emailtemplate_path do %>
        <div class="well well-lg">
          <span class="glyphicon glyphicon-pencil"></span>
          <strong>Template for feedback email</strong><br /> Customize the email  the AFS sends out to your customers
        </div>
    <% end %>

    <%= link_to invitations_path do %>
        <div class="well well-lg">
          <span class="glyphicon glyphicon-list"></span>
          <strong>Invitation History</strong><br /> Our advanced, NEW tool for tracking your invitations
          (formerly Feedback Service History)
        </div>
    <% end %>

    <%= link_to invitations_invite_customers_path do %>
        <div class="well well-lg">
          <span class="glyphicon glyphicon-envelope"></span>
          <strong>Invite your customers</strong><br /> Try out our new and improved interface for collecting reviews
        </div>
    <% end %>

    <a href="javascript:void(0);">
      <div class="well well-lg">
        <span class="glyphicon glyphicon-qrcode"></span>
        <strong>Request that reviewers submit an order ID</strong><br /> Link an order ID to every review to
        make it easier for you to reply
      </div>
    </a>
  </div>

  <!-- Right menu -->
  <div class="col-md-6">
    <h4>For your website</h4>
    <br />

    <a href="javascript:void(0);">
      <div class="well well-lg">
        <span class="glyphicon glyphicon-certificate"></span>
        <strong>Category Badge</strong><br /> Show your customers that you're doing well in your category
      </div>
    </a>

    <a href="javascript:void(0);">
      <div class="well well-lg">
        <span class="glyphicon glyphicon-comment"></span>
        <strong>Trustpilot Badge</strong><br /> Let all your visitors know that you've got great reviews on Trustpilot
      </div>
    </a>

    <a href="javascript:void(0);">
      <div class="well well-lg">
        <span class="glyphicon glyphicon-inbox"></span>
        <strong>TrustBox 2.0</strong><br /> Design your own TrustBox and display your rating and selected reviews
      </div>
    </a>

    <a href="javascript:void(0);">
      <div class="well well-lg">
        <span class="glyphicon glyphicon-cog"></span>
        <strong>Trustpilot Integrations</strong><br /> Create your own custom serverside Trustpilot integration
      </div>
    </a>
  </div>
</div>


<div class="row modules-menu">
  <!-- Left menu -->
  <div class="col-md-6">
    <h4>For your company profile</h4>
    <br />

    <%= link_to company_profile_promotion_path do %>
        <div class="well well-lg">
          <span class="glyphicon icon-large icon-announcement"></span>
          <strong>Promote your customer service</strong><br /> Tell your customers about your company
        </div>
    <% end %>

    <%= link_to company_profile_guarantee_path do %>
        <div class="well well-lg">
          <span class="glyphicon icon-large icon-cup"></span>
          <strong>Guarantee to customers</strong><br /> Tell customers what you can guarantee them
        </div>
    <% end %>

    <%= link_to company_profile_facebook_path do %>
        <div class="well well-lg">
          <span class="glyphicon icon-large icon-facebook"></span>
          <strong>Facebook Like Box</strong><br /> Display your Facebook page directly on TrustSystems
        </div>
    <% end %>

    <%= link_to categories_path do %>
        <div class="well well-lg">
          <span class="glyphicon icon-large icon-tag"></span>
          <strong>Categories</strong><br /> Add your company to one or more categories
        </div>
    <% end %>
  </div>
</div>