<footer id="footer" class="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to 'About company', about_path %></li>
      <li role="presentation"><%= link_to 'F.A.Q.', faq_path %></li>
      <li role="presentation"><%= link_to 'Contacts', contacts_path %></li>
      <li role="presentation"><%= link_to 'Blog', blog_path %></li>
      <li role="presentation"><%= link_to 'Conditions', conditions_path %></li>
      <li role="presentation"><%= link_to 'Confidential Politic', confidentalpolitic_path %></li>
      <li role="presentation"><%= link_to 'Business Solutions', solutionsbusiness_path %></li>
    </ul>
  </div>
</footer>