<% if current_user.present? %>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Категории', categories_path, :class => current_class?(categories_path) %></li>
    </ul>

    <div class="navbar-right user-welcome">
        <p>Welcome, <%= link_to current_user.email, edit_user_registration_path(current_user.id) %></p>
        <ul>
          <li><a href="#">My Profile</a></li>
          <li>|</li>
          <li><a href="#">Account Settings</a></li>
          <li>|</li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :get %></li>
        </ul>
    </div>

<% else %>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Категории', categories_path, :class => current_class?(categories_path) %></li>
      <li><%= link_to 'Для компаний', business_path %></li>
    </ul>

    <ul class="top-login-links navbar-right">
      <li><%= link_to 'Login', login_path, class: "btn btn-success" %></li>
      <li><%= link_to 'Sign Up', signup_path, class: "btn btn-danger" %></li>
    </ul>

<% end %>