<% @company.reviews.each do |review| %>

    <% @user = User.find(review.user_id) %>
<div class="review">
  <div class="row">
    <div class="col-md-2 ava text-center">
      <img alt="140x140" class="img-circle" src="<%= asset_path(User.find(review.user_id).avatar) %>" data-holder-rendered="true" />
    </div>
    <div class="col-md-10 info">
      <div class="clearfix">
        <ul class="rate pull-left">
          <% review.rating.times do %>
            <li><a href="#"></a></li>
          <% end %>
        </ul>
        <!--<p  class="calendar pull-right"><%= review.updated_at.strftime("%d.%m.%Y / %H:%M") %></p>-->
        <p class="pull-right"><span class="label label-danger"><%= review.updated_at.strftime("%d.%m.%Y / %H:%M") %></span></p>
      </div>
      <p><a href="#"><%= @user.full_name %></a> | <%= @user.reviews.count %> отзыв(ов)</p>
      <div class="check confirm">Отзыв от подтвержденного покупателя</div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="message_panel">
    <div class="corner"></div>
    <div class="message">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5><%= review.review_short %></h5>
          <%= review.review_full %>
        </div>
      </div>

      <div class="actions">
        <ul>
          <li><a href="javascript:void(0);">Комментарии (0)</a></li>
          <!--@if (Request.IsAuthenticated)-->
          <!--{-->
          <!--<li><div id="usefull"><a class="@(review.IsReviewUsefull ? "usefull" : string.Empty)" id="@review.Id" href="javascript:void(0);">Отметить как полезный</a></div></li>-->
          <li><div id="usefull"><a class="usefull" id="23" href="javascript:void(0);">Отметить как полезный</a></div></li>
          <!--}-->
          <li><a href="javascript:void(0);">Ответить как компания</a></li>
          <li><a href="javascript:void(0);">Пожаловаться</a></li>
        </ul>
      </div>
    </div><!-- End review -->
  </div>
</div>

<% end %>