<div class="container">

  <div class="row promo-collect promo text-center">
    <div class="col-md-12">
      <h1>Начните общение</h1>
      <p>Привлекайте Ваших покупателей уже сегодня</p>
      <%= image_tag('business/product/promo-engage.png', :alt => '') %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1>Почувствуйте влияние отзывов</h1>
      <h3>Получите полное представление</h3>
      <p>То, как Вы привлекаете покупателей, может улучшить или разрушить Вашу репутацию. Вам необходимо занять
        гипер-активную позицию. Всего лишь попросить Ваших клиентов оставить отзыв – это уже отличное начало. Тем не
        менее,  правильные ответы на Ваши отзывы поднимут Вашу компанию на следующий уровень. Чтобы помочь Вам лучше
        понять желания и потребности  Ваших клиентов, мы предлагаем Вам инструменты для привлечения и покорения Ваших
        клиентов, роста уверенности и наблюдения за тем, как Ваши продажи стремятся ввысь. </p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-orderid2.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Пусть Ваши клиенты знают, что Вам не всё равно</h3>
      <p>Никогда не пропускайте мимо ушей отзывы Ваших клиентов. Отвечайте и получайте награду. Ответы на отзывы – это
        лучший способ приблизиться к Вашим покупателям и показать Ваш сервис обслуживания клиентов в действии. Ищите ли
        вы решение проблемы или просто говорите «Спасибо» - всё это меняет дело. Вы получите поклонников и базу
        преданных клиентов.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-flag.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Сообщайте об отзывах, которые требуют дополнительного внимания</h3>
      <p>Наша система проверки подлинности убеждает в том, что отзывы действительно подлинные. Тем не менее, если Вы
        чувствуете, что отзыв нарушает наши нормативы, Вы можете сообщить нам об этом. В то время, когда наша
        самоотверженная команда пользовательского сервиса собирает важную информацию, этот отзыв может быть изъят из
        профиля Вашей компании. Он может быть совсем удалён или возвращен на место, в зависимости от исхода
        расследования.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-letters.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Получайте постоянные уведомления о новых отзывах</h3>
      <p>Вы всегда будете знать, когда приходит новый отзыв. Настраивайте Ваши уведомления. Выбирайте получение
        уведомлений, когда появляются отзывы с определенным количеством звёздочек в рейтинге. Вы сразу же узнаете,
        когда приходит отрицательный отзыв, и  сможете ответить на него в считанные минуты.</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h1>Профиль компании</h1>
      <h3>Откройте миру историю Вашей компании</h3>
      <p>В профиле Вашей компании Вы можете показать покупателем, почему именно Ваша компания выделяется среди других.
        Используйте логотип и картинки Вашей компании. В дальнейшем работайте со специальными предложениями, акциями и
        сертификатами, чтобы показать идеальное обслуживание клиентов.</p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-sound.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Расскажите покупателям, почему они должны выбрать именно Вас</h3>
      <p>Хорошо подумайте, что отличает Вашу компанию. Вы лучшие в своей категории? Является ли Ваше обслуживание
        клиентов произведением искусства? У Вас самый быстрый срок  доставки? Расскажите Вашим клиентам о Ваших лучших
        чертах и докажите это. Клиенты хотят быть уверенными в Вашем сервисе, так дайте им это. Убедите и успокойте их,
        и они обязательно вернутся к Вам снова.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-sharefb.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Будьте социальны, продвигайте Ваше сообщество в Facebook</h3>
      <p>Выставляйте напоказ свою социальную сторону с помощью значка сообщества на Вашей основной странице. Если Вы
        покажете реальных людей, которые покупают у Вас в магазине, это даст другим вескую причину доверять Вам.
        Социальное признание -  очень мощный инструмент, используйте его.</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h1>Статистика</h1>
      <h3>Ваши цифры измерены и определены</h3>
      <p>Цифры имеют значение. Мы включили модуль наглядной статистики, Вы можете с легкостью получить доступ к ключевой
        метрике. Следите за демографическими характеристиками, отслеживайте уровень конверсии, узнайте кто просматривает
        профиль и уделите этому внимание. Получайте больше проникновения в суть без всяких усилий.</p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-stars.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Уровень доверия на виду</h3>
      <p>Узнайте уровень удовлетворенности Ваших клиентов спустя некоторое время. Для Вашего удобства, мы даем вам
        общий вид Вашего уровня доверия. Всего лишь погрузитесь в понятный интерфейс, чтобы получить средние числа и
        процентили, показанные в понятных цифровых данных.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-diagram.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Уровень конверсии – получите полную картину</h3>
      <p>Мы фиксируем цифры Вашей конверсии. Таким образом, Вы можете точно знать, насколько эффективны Ваши приглашения
        через электронную почту. Выясните, кто их читает, и кто оставляет отзывы на Вашу компанию.</p>
    </div>
  </div>
</div>