<div class="container">

  <div class="row promo-collect promo text-center">
    <div class="col-md-12">
      <h1>Мы будем помогать Вам</h1>
      <p>от начала до конца и на всех промежуточных этапах</p>
      <%= image_tag('business/product/promo-support.png', :alt => '') %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1>Поддержка</h1>
      <h3>Вы в надёжных руках</h3>
      <p>У нас есть ответы на Ваши вопросы, решения Ваших проблем, ключ к Вашим загадкам. А даже если и нет, то  мы
        обязательно их найдём. Наша первоклассная команда поддержки пользователей в Вашем распоряжении, независимо от
        сложности случая. Мы рады быть Вам полезными.</p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-shakehands.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Встречайте Вашего персонального менеджера</h3>
      <p>Будучи частью нашей успешной команды поддержки пользователей, Ваш персональный менеджер призван следить за
        успешным протеканием Вашей интеграции. От подготовки к установке, мониторинга прогресса до отслеживания метрики
        и на всех промежуточных этапах – Ваш персональный менеджер всегда Вас поддержит.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-calcletter.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Нужна помощь? Звоните нам или присылайте электронные письма</h3>
      <p>Мы всегда доступны по телефону или почте, поэтому связывайтесь с нами в случае возникновения вопросов или
        проблем. Наши телефонные линии открыты с 9.00 до 16.00 С понедельника по пятницу. Мы уверенны, что Вы получите
        на все Ваши вопросы.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-tools.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Есть технические проблемы? Мы рядом</h3>
      <p>Вам не нужно быть техническим гением, чтобы настроить для себя сиcтему Trust Systems, тем не менее у нас есть
        гениальная техническая команда, чтобы помочь Вам, когда это необходимо. Звоните или пишите нам, когда
        технические проблемы застали Вас врасплох. </p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-diagram.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Мы поможем Вам, используя лучший опыт</h3>
      <p>Вам нужны еще одни руки, когда дело доходит до настройки шаблонов Ваших электронных сообщений? Всего лишь
        попросите нас. Мы работаем для того, чтобы сделать идеальным процесс собрания коллекции Ваших отзывов. Мы уже
        наработали коллекцию примеров, лучшего опыта и отдельных случаев, чтобы помочь вам ориентироваться в процессе
        настройки системы.</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h1>Сервис</h1>
      <h3>Сервис – наше второе имя. Ожидайте от нас самого лучшего</h3>
      <p>Чтобы помочь Вам лучше обслуживать Ваших покупателей, мы нацелены обеспечить Вас самым лучшим сервисом,
        который только может быть. У нас есть целый набор инструментов, который мы передаем в Ваше распоряжение,
        чтобы помочь Вам управлять отзывами и отвечать клиентам с легкостью.</p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-mechanics.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Полное управление в рамках портала</h3>
      <p>Делайте всё,  используя наш удобный для пользователя B2B портал. Управляйте Вашими отзывами, данными,
        оповещениями и страницей профиля. Перемещайте плагины, экспортируйте звёздочки, изменяйте Ваши виджеты.
        Системой отлично, легко и быстро пользоваться.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-watch.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Почувствуйте преимущество нашей круглосуточной поддержки</h3>
      <p>Наша система тех. Поддержки  работает круглосуточно. Если все идет не так гладко, как хотелось бы,
        приостановитесь. Мы осуществляем поддержку быстро и квалифицированно. Ничего не останется на обочине. Мы решим
        Ваши проблемы, и Вы ничего не пропустите.</p>
    </div>
  </div>

</div>