<div class="container">
  <div class="row promo-collect promo text-center">
    <div class="col-md-12">
      <h1>Поделитесь</h1>
      <p>и покажите, что Вам не все равно</p>
      <%= image_tag('business/product/promo-share.png', :alt => '') %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1>На сайтах</h1>
      <h3>Выставите напоказ Вашу надёжность</h3>
      <p>Размещение Ваших отзывов в центральном месте на Вашем сайте, например, на странице подтверждения покупки,
        поможет повысить и уровень доверия, и уровень продаж. Это доказанный факт. </p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-rating.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Поделитесь своим доверием с помощью Trustbox</h3>
      <p>Делитесь Вашими лучшими отзывами и лучшей стороной с помощью специально созданного для Вас Trustbox’а. Пусть
        Ваши покупатели говорят за Вас, разместите Trustbox на Вашем сайте. В конце концов, покупатели доверяют другим
        покупателям. Судя по последним исследованиям, 72 % покупателей доверяют онлайн отзывам так же как и личным
        рекомендациям. Отзывы потребителей доказывают это лучше всего.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-html.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Создавайте то, что вам нужно с помощью сборки Trust Systems</h3>
      <p>Пусть Ваши данные говорят за Вас. С помощью сборки Trust Systems Вы можете с легкостью перенести те данные,
        которые Вам нужны, из Вашего профиля (уровень доверия, количество отзывов и т.д.) и создать абсолютно
        индивидуальное приложение для Вашего сайта. Вы в этом заинтересованы, поэтому, будьте креативны и представьте
        Ваши данные стильно. Trust systems интеграция – это мощный метод улучшить опыт Ваших клиентов и увеличить
        конверсию.
      </p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-y.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Покупатели любят Вас? Покажите это при помощи бэйджа</h3>
      <p>Повышайте уровень доверия с помощью бэйджа. Когда Ваш рейтинг минимум 4 звёздочки, Вы можете поместить бейдж
        Trust Systems на Вашем сайте и похвастаться любовью Ваших клиентов. Это также легко, как поместить картинку на
        Вашем сайте. Как вариант, добавьте бэйдж Вашей категории, чтобы акцентировать Ваши успехи в определенной
        категории.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-starscode.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Экспортируйте Ваши отзывы</h3>
      <p>Информация – это Ваш друг. Выкладывайте Ваши отзывы в электронных таблицах  или CSV. Вы можете использовать
        это, чтобы получать обзор Вашей клиентской базы, интегрировать ее Ваши CRM или eCommerce системы и очень
        активно улучшать Ваш уровень обслуживания покупателей. Или чтобы учитывать Ваши отзывы в Вашей маркетинговой
        кампании.</p>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h1>Социальные медиа</h1>
      <h3>Сделайте Ваши отзывы социальными</h3>
      <p>В наше время, общение происходит в социальных сетях – люди доверяют своим сверстникам. На Facebook более 900
        миллионов пользователей. И эти 900 миллионов делятся мнениями о том, где совершать покупки. В свою очередь,
        судя по исследованиям, 68 % тех людей, которые читают посты своих друзей на тему покупок, заканчивают чтение
        переходом на ссылку соответствующего сайта. Это очень действенный способ рекламировать и делиться хорошей
        репутацией Вашей компании.</p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-ratingfb.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Разместите отзывы на Вашей странице в Facebook</h3>
      <p>Интеграционные возможности Trust Systems c Facebook даёт Вам возможность делиться Вашим хорошим сервисом прямо
        в самой многочисленной социальной сети. Станьте социальными и превратите Ваших покупателей в почитателей.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-sharefb.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Объединяйтесь с покупателями через Facebook</h3>
      <p>Ваши покупатели могут присоединиться к Trust Systems через  Facebook. Для них это упрощенный способ войти и
        оставить отзыв. В то же время это даёт социальное подтверждение – Вы знаете, что отзыв оставлен реальным
        человеком, у которого есть реальные друзья, с которыми он может поделиться.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-network.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Друзья распространяют мнения</h3>
      <p>Мы даем Вам средства, чтобы Ваши покупатели имели возможность делиться Вашим хорошим обслуживанием в реальном
        времени. При помощи социальных связей, Вашим клиентам легко найти, прочитать и поделиться отзывами их друзей.
        Это провоцирует больше доверия, а также больше прозрачности. Работайте вместе со своими клиентами, их связями и
        совершение онлайн покупок станет дружелюбнее.</p>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h1>Поисковые системы</h1>
      <h3>Найдите Ваши отзывы там, где это действительно важно – в поисковых системах</h3>
      <p>Судя по данным исследования, 93 % всех покупателей используют поиск при совершении покупок онлайн. Если Ваши
        отзывы попадают в поисковые системы, это значит, что Вы получите больше трафика и увеличите Ваш CTR. Отзывы
        клиентов пользовательски-ориентированны, контент полон ключевых слов – и всё это значительно увеличивает
        вероятность Вашего присутствия в поисковых системах. </p>
    </div>
  </div>
  <br />
  <br />

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-google.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Обратите больше внимания на поисковые системы</h3>
      <p>Активно используя Trust Systems в Вашей поисковой стратегии, Вы значительно увеличите шансы, что отзывы Ваших
        клиентов будут показаны Вашим будущим клиентам.</p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-googley.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Получите рейтинг продавца на Google Shopping</h3>
      <p>Наше лицензионное соглашение с Google означает, что мы перемещаем отзывы покупателей в Google, что может помочь
        Вам достичь рейтинга продавцов в Google Shopping, в связанной с Вами рекламе в Google AdWords. Это даёт
        возможность потенциальным клиентам увидеть Вас среди продавцов с высоким рейтингом на Google. Рейтинги
        продавцов уже доступны в США, Германии, Франции и Голландии, но в любой момент могут быть изменены Google.
        Читайте больше в нашем Google FAQ.</p>
    </div>
  </div>
</div>