<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Взгляните на наши ресурсы. Узнайте и вдохновитесь</h1>
    </div>
  </div>


  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-letters.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Наш опыт создания приглашений</h3>
      <p>Пригласить Ваших клиентов написать отзыв о Вашей компании на Trust Systems довольно легко, но создать
        эффективное e-mail приглашение достаточно сложно. Вам необходимо, чтобы Ваше приглашение к созданию отзыва
        сработало…</p>
      <p>
        <%= link_to 'Узнайте больше', resources_experience_path, :class => 'more' %>
      </p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-simbox.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Брошюра – как выбрать онлайн платформу отзывов</h3>
      <p>Загрузите нашу бесплатную брошюру, которая поможет Вам выбрать правильную онлайн платформу отзывов.</p>
      <p>
        <%= link_to 'Узнайте больше', resources_brochure_path, :class => 'more' %>
      </p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-y.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Примеры</h3>
      <p>Виджеты Trust systems можно увидеть в интернете на сайте наших клиентов. Взгляните на эти примеры и увидьте,
        как просто поставить наш виджет.</p>
      <p>
        <%= link_to 'Узнайте больше', resources_examples_path, :class => 'more' %>
      </p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-sells.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Рассчитайте рост продаж</h3>
      <p>Снова и снова мониторинг статистики наших клиентов показывает повышение в уровне конверсии / масштабе продаж
        с 7,5 % до 60 %. Владельцы интернет магазинов видят повышение уровня конверсии во время тестирования</p>
      <p>
        <%= link_to 'Узнайте больше', resources_calculate_path, :class => 'more' %>
      </p>
    </div>
  </div>


</div>