<h1>Invite your customers</h1>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Invites', send_invitations_copy_paste_index_path, :class => 'btn btn-info' %>
  <button type="button" class="btn btn-primary">Send from</button>
  <button type="button" class="btn btn-default">Select template</button>
  <button type="button" class="btn btn-default">Done</button>
</div>

<h2>Sender Information</h2>
<p>Please set up your Sender Information below. The Sender Name and Sender Email are what appears in your customers'
  inboxes when they receive your invitation. The Reply-to Email is the address you want your customers to use in
  reply to your invitation. Need Help?</p>

<br />

<%= form_for :invitation, url: wizard_path, method: :put do  |f| %>
    <div class="form-group">
        <%= f.label :senderName %>
        <%= f.text_field :senderName, placeholder: 'Enter name', class: 'form-control', :value => session[:cp_sender] %>
    </div>

    <div class="form-group">
      <%= f.label :replyToEmail %>
      <%= f.email_field :replyToEmail, placeholder: 'Enter email', class: 'form-control', :value => session[:cp_reply] %>
    </div>

    <p>Sender Email</p>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Send from noreply.invitations@trustpilot.com (no further setup required)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Send using your own email domain for the sender address (requires technical knowledge to set up)
      </label>
    </div>

    <br />

    <%= link_to 'Back', previous_wizard_path, :class => 'btn btn-warning' %>
    <%= f.submit 'Continue', class: 'btn btn-primary btn_send_from' %>
<% end %>